.DS_Store

node_modules/
**/node_modules/

dist/
dist-ssr/
**/dist/
**/dist-ssr/

.vite/
**/.vite/

coverage/
**/coverage/

*.log
*.local
.env.local
.env.*.local

.cursorrules

saiadmin-base/frontend/.auto-import.json
saiadmin-base/frontend/src/types/import/auto-imports.d.ts
saiadmin-base/frontend/src/types/import/components.d.ts
